@model IEnumerable<EstateAgency.EstateObject>


@{
    ViewBag.Title = "Index";
}

<h2>Каталог объектов недвижимости</h2>

@Html.ActionLink("Добавить объект", "StartAddEstateObject")

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Price
        </th>
        <th>
            Area
        </th>
        <th>
            Address
        </th>
    </tr>

    @foreach (EstateAgency.EstateObject e in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => e.Id)
            </td>
            <td>
                @Html.DisplayFor(m => e.Price)
            </td>
            <td>
                @Html.DisplayFor(m => e.Area)
            </td>
            <td>
                @Html.DisplayFor(m => e.Address)
            </td>
            <td>
                @Html.ActionLink("Изменить", "UpdateEstateObject", new { id = e.Id })
                @Html.ActionLink("Удалить", "DeleteEstateObject", new { id = e.Id })
                @Html.ActionLink("Подробнее", "DetailsEstateObject", new { id = e.Id })

            </td>
        </tr>
    }

</table>
@Html.ActionLink("Фильтр", "Filter")



