@model EstateAgency.ViewModels.ReportViewModel

@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h1>Статистика заключенных сделок</h1>

    <h3>Чтобы узнать количество сделок, заключенных каждым менеджером, выберите сроки и нажмите "Показать"</h3>

    <hr />

        DateTime lastMonth = DateTime.Today.AddMonths(-1);
        DateTime last3Months = DateTime.Today.AddMonths(-3);
        DateTime lastYear = DateTime.Today.AddYears(-1);

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("От", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("До", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.ActionLink("За последний месяц", "Statistics", new { first = lastMonth.ToShortDateString(), second = DateTime.Now.ToShortDateString() })
        </div>
        <div>
            @Html.ActionLink("За последние три месяца", "Statistics", new { first = last3Months.ToShortDateString(), second = DateTime.Now.ToShortDateString() })
        </div>
        <div>
            @Html.ActionLink("За год", "Statistics", new { first = lastYear.ToShortDateString(), second = DateTime.Now.ToShortDateString() })
        </div>
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Показать" class="btn btn-default" />
            </div>
        </div>
    </div>


}

<!DOCTYPE html>
<html>
<head>
    <title>Chart Example</title>
</head>
<body>
    <p><img src="@Url.Action("ChartArrayBasic", new { first=Model.FirstDate, second=Model.SecondDate})" alt="Chart" /> </p>
</body>
</html>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>
}