@using EstateAgency.ViewModels;

@model TradeRequestViewModel

@{
    ViewBag.Title = "UpdateTrade";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<h2>Сделка</h2>

<h3>Информация</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealtyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealtyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        @if (Model.RealtyTypeId == 1 || Model.RealtyTypeId == 3)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Rooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rooms)
            </dd>
        }

        @if (ViewBag.RealtyTypeId == 3)
        {
            <dt>
                @Html.DisplayNameFor(model => model.LandDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LandDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LandArea)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LandArea)
            </dd>
        }


    </dl>
    <hr />
    <h3>Связаться с Клиентом</h3>
    <dl>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>
    </dl>

    <hr />

    <h3>Способ оплаты: </h3>

    <dl>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.PaymentInstrument)
        </dd>
    </dl>

    @Html.HiddenFor(model => model.EstateObjectId)

    <hr />

    <div class="form-actions no-color">
        @Html.ActionLink("Удалить сделку", "DeleteTrade", new { id = Model.EstateObjectId })
    </div>
</div>
}

@Html.ActionLink("Назад", "Trades")




