@using EstateAgency.ViewModels;

@model TradeRequestViewModel

@{
    ViewBag.Title = "UpdateTrade";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<h2>Заключение сделки</h2>

<h3>Информация</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealtyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealtyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        @if (Model.RealtyTypeId == 1 || Model.RealtyTypeId == 3)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Rooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rooms)
            </dd>
        }

        @if (ViewBag.RealtyTypeId == 3)
        {
            <dt>
                @Html.DisplayNameFor(model => model.LandDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LandDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LandArea)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LandArea)
            </dd>
        }

    </dl>
    <hr />
    <h3>Связаться с Менеджером:</h3>
    <dl>
        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ManagerEmail)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ManagerPhone)
        </dd>
    </dl>

    <hr />

    <h3>Способ оплаты: </h3>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentInstrumentId, "Платёжное средство", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PaymentInstrumentId, Model.PaymentInstruments as List<SelectListItem>, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaymentInstrumentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentTypeId, "Оплата", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PaymentTypeId, Model.PaymentTypes as List<SelectListItem>, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaymentTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.EstateObjectId)

    <h4>Подтверждение: </h4>

    <div class="form-actions no-color">
        <input type="submit" value="Заключить договор" class="btn btn-default" /> |
        @Html.ActionLink("Отменить", "DeleteTrade", new { id = Model.EstateObjectId })
    </div>
</div>
}

@Html.ActionLink("Назад", "AcceptedRequests")


